<div class="my-8 space-y-8 text-center">
  <a
    [routerLink]="['add']"
    class="btn btn-primary my-12 hover:bg-transparent hover:text-secondary-content"
  >
    Ajouter une carte
  </a>

  @if ((creditCards$ | async)?.length === 0) {
    <p class="text-center text-secondary-content">
      Vous n'avez pas encore enregistré de moyen de paiement.
    </p>
  } @else {
    <div class="overflow-x-auto">
      <table class="table table-lg">
        <thead>
          <tr>
            <th>Numéro de carte</th>
            <th>Nom du titulaire</th>
            <th>Date d'expiration</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (card of creditCards$ | async; track card.number) {
            <tr app-credit-card [card]="card" (delete)="refresh()"></tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
