<form
  id="register-form"
  action=""
  method="get"
  (ngSubmit)="onSubmit(registerForm)"
  #registerForm="ngForm"
>
  <select
    id="honorific-prefix"
    aria-label="Civilité"
    name="honorific-prefix"
    required
    [(ngModel)]="model.honorificPrefix"
    #honorificPrefix="ngModel"
    attr.aria-invalid="{{
      honorificPrefix.touched ? honorificPrefix.invalid : null
    }}"
  >
    <option
      *ngFor="let prefix of honorificPrefixes | keyvalue"
      [value]="prefix.key"
    >
      {{ prefix.value }}
    </option>
  </select>
  <small *ngIf="honorificPrefix.invalid && honorificPrefix.touched"
    >Ce champ est obligatoire
  </small>
  <fieldset class="grid">
    <div>
      <input
        type="text"
        id="family-name"
        aria-label="Nom"
        placeholder="Nom"
        autocomplete="family-name"
        name="family-name"
        required
        [(ngModel)]="model.familyName"
        #familyName="ngModel"
        attr.aria-invalid="{{ familyName.touched ? familyName.invalid : null }}"
      />
      <small *ngIf="familyName.invalid && familyName.touched"
        >Ce champ est obligatoire
      </small>
    </div>
    <div>
      <input
        type="text"
        id="given-name"
        aria-label="Prénom"
        placeholder="Prénom"
        autocomplete="given-name"
        name="given-name"
        required
        [(ngModel)]="model.givenName"
        #givenName="ngModel"
        attr.aria-invalid="{{ givenName.touched ? givenName.invalid : null }}"
      />
      <small *ngIf="givenName.invalid && givenName.touched"
        >Ce champ est obligatoire
      </small>
    </div>
  </fieldset>
  <div>
    <input
      type="text"
      id="street-address"
      aria-label="Adresse"
      placeholder="Adresse"
      autocomplete="street-address"
      name="street-address"
      [(ngModel)]="model.streetAddress"
      #streetAddress="ngModel"
      attr.aria-invalid="{{
        streetAddress.touched ? streetAddress.invalid : null
      }}"
    />
    <small *ngIf="streetAddress.invalid && streetAddress.touched"
      >Ce champ est obligatoire
    </small>
  </div>
  <fieldset class="grid">
    <div>
      <input
        type="text"
        id="postal-code"
        aria-label="Code Postal"
        placeholder="Code Postal"
        autocomplete="postal-code"
        name="postal-code"
        pattern="^\d{5}$"
        [(ngModel)]="model.postalCode"
        #postalCode="ngModel"
        attr.aria-invalid="{{ postalCode.touched ? postalCode.invalid : null }}"
      />
      <small *ngIf="postalCode.invalid && postalCode.touched"
        >Le code postal doit être composé de 5 chiffres
      </small>
    </div>
    <div>
      <input
        type="text"
        id="city"
        aria-label="Ville"
        placeholder="Ville"
        autocomplete="address-level2"
        name="city"
        [(ngModel)]="model.city"
        #city="ngModel"
        attr.aria-invalid="{{ city.touched ? city.invalid : null }}"
      />
      <small *ngIf="city.invalid && city.touched"
        >Ce champ est obligatoire
      </small>
    </div>
  </fieldset>
  <fieldset class="grid">
    <div>
      <input
        type="email"
        id="email"
        aria-label="Adresse Email"
        placeholder="Adresse Email"
        autocomplete="email"
        name="email"
        required
        email
        [(ngModel)]="model.email"
        #email="ngModel"
        attr.aria-invalid="{{ email.touched ? email.invalid : null }}"
      />
      <small *ngIf="email.errors?.['required'] && email.touched"
        >Ce champ est obligatoire
      </small>
      <small *ngIf="email.errors?.['email'] && email.touched"
        >Veuillez saisir une adresse email valide
      </small>
    </div>
    <div>
      <input
        type="tel"
        id="tel"
        aria-label="Téléphone"
        placeholder="Téléphone"
        autocomplete="tel"
        name="tel"
        pattern="^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$"
        [(ngModel)]="model.tel"
        #tel="ngModel"
        attr.aria-invalid="{{ tel.touched ? tel.invalid : null }}"
      />
      <small *ngIf="tel.invalid && tel.touched"
        >Veuillez saisir un numéro de téléphone valide
      </small>
    </div>
  </fieldset>
  <div>
    <input
      type="text"
      id="username"
      aria-label="Nom d'utilisateur"
      placeholder="Nom d'utilisateur"
      autocomplete="username"
      name="username"
      required
      [(ngModel)]="model.username"
      #username="ngModel"
      attr.aria-invalid="{{ username.touched ? username.invalid : null }}"
    />
    <small *ngIf="username.invalid && username.touched"
      >Ce champ est obligatoire
    </small>
  </div>
  <fieldset
    class="grid"
    ngModelGroup="passwords"
    #passwords="ngModelGroup"
    attr.aria-invalid="{{ passwords.touched ? true : null }}"
    [appFieldMatchGroup]="['password', 'passwordConfirm']"
  >
    <div>
      <input
        type="password"
        id="password"
        aria-label="Mot de passe"
        placeholder="Mot de passe"
        autocomplete="new-password"
        name="password"
        required
        [(ngModel)]="model.password"
        #password="ngModel"
        attr.aria-invalid="{{ password.touched ? password.invalid : null }}"
      />
      <small *ngIf="password.invalid && password.touched"
        >Ce champ est obligatoire
      </small>
    </div>
    <div>
      <input
        type="password"
        id="password-confirm"
        aria-label="Confirmer le mot de passe"
        placeholder="Confirmer le mot de passe"
        autocomplete="new-password"
        name="passwordConfirm"
        required
        [(ngModel)]="model.passwordConfirm"
        #passwordConfirm="ngModel"
        attr.aria-invalid="{{
          passwordConfirm.touched
            ? passwords.invalid || passwordConfirm.invalid
            : null
        }}"
      />
      <small
        *ngIf="passwordConfirm.touched && passwords.errors?.['fieldMatchGroup']"
      >
        Les mots de passe ne correspondent pas
      </small>
    </div>
  </fieldset>
  <button type="submit" [disabled]="!registerForm.valid">S'inscrire</button>
</form>
