<div class="navbar bg-base-100">
  <div class="navbar-start">
    <span class="font-logo text-4xl m-3">JuliArtist</span>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 uppercase">
      <li>
        <a href="#" class="link-hover link">Dessins</a>
      </li>
      <li>
        <a href="#" class="link-hover link">Collections</a>
      </li>
      <li>
        <a href="#" class="link-hover link">A propos de moi</a>
      </li>
      <li>
        <a href="#" class="link-hover link">Contact</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end"></div>
</div>
