<div class="navbar sticky top-0 z-10 bg-base-100 px-8">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"
          />
        </svg>
      </div>
      <ul
        class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow"
      >
        <li>
          <a [routerLink]="['/products']" class="link-hover link">Dessins</a>
        </li>
        <li>
          <a [routerLink]="['/about-me']" class="link-hover link"
            >A propos de moi</a
          >
        </li>
      </ul>
    </div>
    <a [routerLink]="['/']" class="btn btn-ghost">
      <span class="font-logo text-4xl font-normal">JuliArtist</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal uppercase">
      <li>
        <a [routerLink]="['/products']" class="link-hover link">Dessins</a>
      </li>
      <li>
        <a [routerLink]="['/about-me']" class="link-hover link"
          >A propos de moi</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <shopping-cart-link></shopping-cart-link>
    <account-link></account-link>
  </div>
</div>
