<div class="mx-auto max-w-2xl space-y-12 p-8">
  <header class="flex items-center justify-between gap-8 max-sm:flex-col">
    <h1 class="text-5xl font-bold">Mon panier</h1>
    <p class="ml-4 text-sm">
      <a [routerLink]="['/products']" class="link">Continuer mes achats</a>
    </p>
  </header>
  <table class="table mb-8">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items$ | async; track item.product.id) {
        <tr>
          <td>
            <div class="flex gap-4 max-sm:flex-col">
              <img
                src="https://picsum.photos/seed/{{ item.product.id }}/150"
                alt="{{ item.product.title }}"
                class="h-16 w-16 object-cover"
              />
              <div>
                <h2 class="font-bold">{{ item.product.title }}</h2>
                <p class="text-sm font-light italic text-gray-500">
                  {{ item.product.collection }}
                </p>
                <p>{{ item.product.price | currency: "EUR" }}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="join">
              <button
                class="btn join-item input-bordered"
                (click)="decrementQuantity(item)"
              >
                -
              </button>
              <input
                class="input join-item input-bordered w-12 pl-0 text-center text-sm"
                type="number"
                [value]="item.quantity"
                min="0"
                max="99"
                #quantityInput
                (blur)="updateQuantity(item, quantityInput.valueAsNumber)"
              />
              <button
                class="btn join-item input-bordered"
                (click)="incrementQuantity(item)"
              >
                +
              </button>
            </div>
          </td>
          <td>
            {{ item.quantity * item.product.price | currency: "EUR" }}
          </td>
        </tr>
      }
    </tbody>
    <tfoot class="text-sm text-black">
      <tr>
        <td>Total</td>
        <td>
          {{ totalQuantity$ | async }}
        </td>
        <td>
          {{ totalPrice$ | async | currency: "EUR" }}
        </td>
      </tr>
    </tfoot>
  </table>
  <a
    [routerLink]="['/checkout']"
    class="btn btn-primary ml-4 hover:bg-transparent hover:text-secondary-content"
  >
    Passer la commande
  </a>
</div>
