<div class="navbar bg-base-100 px-8">
  <div class="navbar-start">
    <span class="m-3 font-logo text-4xl">JuliArtist</span>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal uppercase">
      <li>
        <a href="#" class="link-hover link">Dessins</a>
      </li>
      <li>
        <a href="#" class="link-hover link">Collections</a>
      </li>
      <li>
        <a href="#" class="link-hover link">A propos de moi</a>
      </li>
      <li>
        <a href="#" class="link-hover link">Contact</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <app-shopping-cart-link></app-shopping-cart-link>
  </div>
</div>
