<div class="navbar sticky top-0 z-10 bg-base-100 px-8">
  <div class="navbar-start">
    <a [routerLink]="['/']" class="btn btn-ghost">
      <span class="font-logo text-4xl font-normal">JuliArtist</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal uppercase">
      <li>
        <a [routerLink]="['/products']" class="link-hover link">Dessins</a>
      </li>
      <li>
        <a href="#" class="link-hover link">Collections</a>
      </li>
      <li>
        <a href="#" class="link-hover link">A propos de moi</a>
      </li>
      <li>
        <a href="#" class="link-hover link">Contact</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <app-accounts-link></app-accounts-link>
    <app-shopping-cart-link></app-shopping-cart-link>
  </div>
</div>
