<main class="container-fluid">
  <div class="grid">
    <article>
      <app-user-form [model]="model" (submit)="onUserFormSubmit($event)"></app-user-form>
    </article>
    <article>
      <hgroup>
        <h2>Vos informations</h2>
        <p>Vous avez saisi les informations suivantes :</p>
      </hgroup>
      <app-user-data [model]="model"></app-user-data>
    </article>
  </div>
</main>
<app-modal [title]="'Félicitations ! ✨'" [(isOpen)]="isModalOpen">
  <p>
    Votre compte a été créé avec succès.
    Vous pouvez maintenant profiter de toutes les fonctionnalités de notre plateforme.
  </p>
</app-modal>