<main class="container">
  <article>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Omnes enim iucundum motum, quo sensus hilaretur.</b>
      Cum
      ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec. Duo Reges: constructio interrete. Duarum
      enim vitarum nobis erunt instituta capienda. <i>Sint modo partes vitae beatae.</i> Hic quoque suus est de summoque
      bono dissentiens dici vere Peripateticus non potest. <i>Magna laus.</i> Nam si amitti vita beata potest, beata
      esse
      non potest. An hoc usque quaque, aliter in vita?
    </p>
    <p>
      Recte dicis; Negat enim summo bono afferre incrementum diem. <i>Quae in controversiam veniunt, de iis, si placet,
        disseramus.</i> Qui ita affectus, beatum esse numquam probabis; Quod idem cum vestri faciant, non satis magnam
      tribuunt inventoribus gratiam. Roges enim Aristonem, bonane ei videantur haec: vacuitas doloris, divitiae,
      valitudo;
      Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum licebit. Ex ea difficultate illae fallaciloquae,
      ut
      ait Accius, malitiae natae sunt. <b>Quis enim redargueret?</b> <b>Sint ista Graecorum;</b> <i>Sed ille, ut dixi,
        vitiose.</i>
    </p>
    <p>
      <i>Nos paucis ad haec additis finem faciamus aliquando;</i> Ille enim occurrentia nescio quae comminiscebatur;
      Certe
      non potest. <i>Certe non potest.</i> Quam illa ardentis amores excitaret sui! Cur tandem? Animum autem reliquis
      rebus
      ita perfecit, ut corpus; Huic mori optimum esse propter desperationem sapientiae, illi propter spem vivere. Ut
      optime,
      secundum naturam affectum esse possit. <b>Bork</b>
    </p>
  </article>
</main>