<main class="main">
  <div class="hero min-h-64 bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="my-16 text-5xl font-bold">Dessins</h1>
        <form action="">
          <label class="input input-bordered flex items-center gap-2">
            <input type="text" class="grow" placeholder="Rechercher..." />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </label>
        </form>
      </div>
    </div>
  </div>
  <div class="my-16 flex justify-center">
    <app-product-list></app-product-list>
  </div>
</main>
