<form
  class="mx-auto my-8 max-w-lg space-y-4 px-8 text-center"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-xl font-bold">Ajouter une carte</h1>

  @if (fes.getMessage(form, "")) {
    <small class="text-error">{{ fes.getMessage(form, "") }}</small>
  }

  <input
    type="text"
    class="input input-bordered w-full"
    formControlName="name"
    placeholder="John Doe"
    autocomplete="cc-name"
    [appInputError]="form.get('name')"
  />

  <input
    type="text"
    class="input input-bordered w-full"
    formControlName="number"
    placeholder="1111222233334444"
    autocomplete="cc-number"
    [appInputError]="form.get('number')"
  />

  <div class="join w-full max-sm:join-vertical">
    <input
      type="month"
      class="input join-item input-bordered sm:w-2/3"
      formControlName="expirationDate"
      autocomplete="cc-exp"
      [appInputError]="form.get('expirationDate')"
    />
    <input
      type="text"
      class="input join-item input-bordered sm:w-1/3"
      formControlName="ccv"
      placeholder="CCV"
      autocomplete="cc-csc"
      [appInputError]="form.get('ccv')"
    />
  </div>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="btn btn-primary w-full"
  >
    @if (loading) {
      <span class="loading loading-dots"></span>
    } @else {
      Ajouter
    }
  </button>
  <a [routerLink]="[redirectUrl]" class="btn btn-outline w-full">Retour</a>
</form>
