<form
  class="mx-auto my-8 max-w-sm space-y-4 flex flex-col"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-2xl font-bold">Carte de crédit</h1>
  <input
    type="text"
    class="input input-bordered"
    formControlName="name"
    placeholder="Nom"
    required
  />

  <input
    type="text"
    id="card-number-input"
    class="input input-bordered"
    placeholder="4242 4242 4242 4242"
    required
    formControlName="number"
  />

  <div class="join">
    <input
      type="text"
      class="input join-item input-bordered"
      formControlName="expirationDate"
      placeholder="MM/YY"
      required
    />
    <input
      type="text"
      class="input join-item input-bordered max-w-24"
      formControlName="cvv"
      placeholder="CCV"
      required
    />
  </div>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="btn btn-primary mt-4 w-full"
  >
    Ajouter
  </button>
</form>
