<div
  role="alert"
  class="alert alert-success fixed left-4 right-4 z-20 w-auto transition-all will-change-auto"
  [ngClass]="{
    'top-16 opacity-100': success,
    '-top-full opacity-0': !success
  }"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>Vos informations ont bien été mises à jour.</span>
</div>
<form
  class="mx-auto my-8 w-fit space-y-8 text-center"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <section class="space-y-4">
    <header class="flex items-center justify-between">
      <h2 class="text-left text-xl font-bold">Informations personnelles</h2>
    </header>

    <div class="join">
      <input
        type="text"
        class="input join-item input-bordered"
        placeholder="Prénom"
        autocomplete="given-name"
        formControlName="firstName"
      />
      <input
        type="text"
        class="input join-item input-bordered"
        placeholder="Nom"
        autocomplete="family-name"
        formControlName="lastName"
      />
    </div>

    <label class="input input-bordered flex items-center">
      <input
        type="text"
        placeholder="Adresse"
        autocomplete="street-address"
        formControlName="address"
      />
    </label>

    <div class="join">
      <input
        type="text"
        class="input join-item input-bordered grow"
        placeholder="Code postal"
        autocomplete="postal-code"
        formControlName="postalCode"
      />
      <input
        type="text"
        class="input join-item input-bordered grow"
        placeholder="Ville"
        autocomplete="address-level2"
        formControlName="city"
      />
    </div>
  </section>

  <button
    type="submit"
    class="btn btn-primary w-full hover:bg-transparent hover:text-secondary-content"
    [disabled]="form.invalid || loading"
  >
    @if (loading) {
      <span class="loading loading-dots"></span>
    } @else {
      Mettre à jour
    }
  </button>

  <p class="text-sm">
    <a [routerLink]="['/account/logout']" class="link">Se déconnecter</a>
  </p>
</form>
