<div class="hero min-h-[calc(100vh-4rem)]">
  <div class="hero-content text-center">
    <div class="space-y-12">
      <h1 class="my-4 text-6xl font-bold">Moi c’est Julia 👋</h1>
      <section class="max-w-4xl space-y-4">
        <p>
          Depuis aussi longtemps que je me souvienne, j’ai toujours aimé le
          dessin. Ma fascination pour l’univers magique de Disney a nourri mon
          imagination depuis mon enfance. Si vous cherchez à me faire plaisir,
          un billet pour Disneyland serait certainement le cadeau idéal !
        </p>
        <p>
          Ce qui me distingue dans mon approche artistique, c’est la
          représentation des personnages sans visage. Cette idée m’est venue
          naturellement, inspirée par le monde enchanté des dessins animés, et
          j’y ai trouvé une manière unique de donner vie à mes créations.
        </p>
        <p>
          Je suis impatiente de partager avec vous mes créations et de vous
          emmener dans un voyage au cœur de mon imagination.
        </p>
        <p>
          Suivez moi sur les réseaux sociaux pour rester informé(e) de mes
          dernières créations et n’hésitez pas à me contacter si vous avez des
          propositions ou des questions.
        </p>
        <p>Bonne découverte !</p>
        <p><em>Julia</em></p>
      </section>
      <figure class="space-y-2">
        <img
          class="mx-auto"
          src="/assets/images/wreck-it-ralph.gif"
          alt="Wreck-It Ralph"
        />
        <figcaption class="text-sm">
          J’ai encore plein de projets, alors mon site à plutôt intérêt à avoir
          faim !
        </figcaption>
      </figure>
    </div>
  </div>
</div>
