<table>
  <tbody>
    <tr>
      <th scope="row">Civilité</th>
      <td>{{ model.honorificPrefix }}</td>
    </tr>
    <tr>
      <th scope="row">Nom</th>
      <td>{{ model.familyName }}</td>
    </tr>
    <tr>
      <th scope="row">Prénom</th>
      <td>{{ model.givenName }}</td>
    </tr>
    <tr>
      <th scope="row">Adresse</th>
      <td>{{ model.streetAddress }}</td>
    </tr>
    <tr>
      <th scope="row">Code Postal</th>
      <td>{{ model.postalCode }}</td>
    </tr>
    <tr>
      <th scope="row">Ville</th>
      <td>{{ model.city }}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{ model.email }}</td>
    </tr>
    <tr>
      <th scope="row">Téléphone</th>
      <td>{{ model.tel }}</td>
    </tr>
    <tr>
      <th scope="row">Nom d'utilisateur</th>
      <td>{{ model.username }}</td>
    </tr>
  </tbody>
</table>
